/*GENERAL COLORS*/

$primary-gray-hover: #363636;
$primary-yellow: #FFD200;
$primary-yellow-hover: #FFB500;
$primary-red: #FA5E5B;
$primary-red-hover: #D14D4A;
$primary-green: #16C98D;
$white: #ffffff;
$black: #000000;
$black-02: #333333;
$secondary: #00448D;
$secondary-focus: #E6E7E8;
$bar-color:#e2e2e2;
$primary-purple: #9013fe;
/*FONTS*/

$font: 'nunito';
$text-gray-01: #454648;
$text-gray-02: #808285;
$text-gray-03: #D1D3D4;
$text-gray-04: #3a3b3b;
/*BACKGROUND*/

$background-gray-01: #58595B;
$background-gray-02: #6D6E71;
$background-gray-03: #D1D3D4;
$background-gray-04: #E6E7E8;
$background-gray-05: #F7F7F7;
$background-gray-06: #979797;
$background-gray-07: #DDD;
$background-gray-08 : #FFFFFF;
$background-yellow-01: #FFCF01;
/* BORDERS */

$border-gray: #F1F1F1;
$border-gray-02: #979797;
$border-gray-03: #E9E9E9;
$border-gray-04: #DADBDC;
$border-gray-05: #E4E4E4;
$border-gray-06: #3a3b3b;
$border-gray-07: #E0E0E0;
/* SHADOWS */

$shadow-black-07: rgba(0, 0, 0, 0.07);
$shadow-gray-28: rgba(213, 213, 213, 0.28);
/*ICONS*/

$icon-exit-path: "../../../assets/icons/exit.svg";
$icon-logout-path: "../../../assets/icons/logout.svg";
$icon-products: "../../../assets/icons/mono-tone/products.svg";
$icon-products-duo-tone: "../../../assets/icons/duo-tone/products.svg";
$icon-transfers: "../../../assets/icons/mono-tone/transfers.svg";
$icon-transfers-dou-tone: "../../../assets/icons/duo-tone/transfers.svg";
$icon-recharges: "../../../assets/icons/mono-tone/recharges.svg";
$icon-recharges-dou-tone: "../../../assets/icons/duo-tone/recharges.svg";
$icon-settings: "../../../assets/icons/mono-tone/settings.svg";
$icon-payments-services: "../../../assets/icons/mono-tone/disponibilidad-dinero.svg";
$icon-settings-dou-tone: "../../../assets/icons/duo-tone/settings.svg";
$icon-payments-duo-tone: "../../../assets/icons/duo-tone/payments.svg";
$icon-payments: "../../../assets/icons/mono-tone/payments.svg";
$icon-ahorro: "../../../assets/icons/mono-tone/ahorro.svg";
$icon-carta: "../../../assets/icons/mono-tone/carta.svg";
$icon-efectivo-tarjeta: "../../../assets/icons/mono-tone/efectivo-tarjeta.svg";
$icon-metrobus: "../../../assets/icons/mono-tone/metrobus.svg";
$icon-recharges: "../../../assets/icons/mono-tone/recharges.svg";
$icon-casa: "../../../assets/icons/mono-tone/casa.svg";
$icon-tarjeta-credito: "../../../assets/icons/mono-tone/tarjeta-credito.svg";
$icon-safe: "../../../assets/icons/mono-tone/safe.svg";
$icon-cheque: "../../../assets/icons/mono-tone/cheque.svg";
$icon-plus: "../../../assets/icons/mono-tone/plus.svg";
$icon-conversion: "../../../assets/icons/mono-tone/conversion.svg";
$icon-premio: "../../../assets/icons/mono-tone/premio.svg";
$icon-viaje: "../../../assets/icons/mono-tone/viaje.svg";
$icon-arrow-down: "../../../assets/icons/menu/arrow-down.svg";
$icon-fav: "../../../assets/icons/menu/fav.svg";
$icon-visa: "../../../assets/icons/duo-tone/visa.svg";
$icon-master: "../../../assets/icons/duo-tone/master.svg";
$icon-edit: "../../../assets/icons/duo-tone/edit.svg";
$icon-arrow-back: "../../../assets/icons/duo-tone/arrow-back-circle.svg";
$icon-billetera: "../../../assets/icons/duo-tone/billetera.svg";
$monto-minimo: "../../../assets/icons/mono-tone/monto-minimo.svg";